package layouts

templ Footer() {
	<footer class="h-8 flex items-center justify-between px-3 text-xs border-t bg-base-100 border-gray-300">
		<div>
			© 2026 GoFar ERP
		</div>
		<div class="text-gray-500">
			v0.1.0
		</div>
	</footer>
}
